:root {
  --color-lion: #A99479;
  --color-dun: #D8CBBA;
  --color-lion-light: #C1A286;
  --color-brown: #64462E;
  --color-bone: #F2F1ED;
  --color-chinese-violet: #875C74;
  --color-charcoal: #2E5266;
}

body {
  margin: 0;
}